<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Edit Load</title>
  </head>
  <body>
    <%- include('../partials/_navbar.ejs') %>

    <h1>Edit Load</h1>

    <form
      action="/users/<%= user._id %>/loads/<%= load._id %>?_method=PUT"
      method="POST"
    >
      <input type="text" name="brokerName" value="<%= load.brokerName %>" />

      <input type="text" name="loadNumber" value="<%= load.loadNumber %>" />

      <input
        type="text"
        name="confirmationNumber"
        value="<%= load.confirmationNumber %>"
      />

      <input
        type="date"
        name="pickupDate"
        value="<%= load.pickupDate.toISOString().split('T')[0] %>"
      />

      <input
        type="text"
        name="pickupLocation"
        value="<%= load.pickupLocation %>"
      />

      <input
        type="date"
        name="deliveryDate"
        value="<%= load.deliveryDate.toISOString().split('T')[0] %>"
      />

      <input
        type="text"
        name="deliveryLocation"
        value="<%= load.deliveryLocation %>"
      />

      <input type="number" name="rate" step="0.01" value="<%= load.rate %>" />

      <br />
      <input type="radio" id="notPaid" name="paymentStatus" value="not paid" <%=
      load.paymentStatus === 'not paid' ? 'checked' : '' %> required />
      <label for="notPaid">Not Paid</label>

      <input type="radio" id="paid" name="paymentStatus" value="paid" <%=
      load.paymentStatus === 'paid' ? 'checked' : '' %> required />
      <label for="paid">Paid</label>
      <br />
      <input
        type="date"
        name="contactedDate"
        value="<%= load.contacted ? load.contacted.toISOString().split('T')[0] : '' %>"
      />

      <textarea name="notes"><%= load.notes %></textarea>
      <br />
      <br />
      <br />
      <br />

      <button type="submit">Update Item</button>
    </form>
  </body>
</html>
